#page-register {
  width: 100vw;
  height: 100vh;
}

#page-register .page-header {
  background-color: transparent;
}

#page-register .page-header header-content {
  padding: 0 3.2rem;
}

#page-register .page-header .top-bar-container {
  padding-bottom: 1.6rem;
  padding-left: 0;
}

#page-register .page-header .top-bar-container svg {
  color: white;
}

#page-register .page-header .top-bar-container .MuiSvgIcon-root {
  margin: 16px;
  margin-bottom: 0;
}

.page-register__content-header-title {
  font: 600 3.2rem Poppins;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
  opacity: 0.8;
}

.page-register__content-header-description {
  font: normal 1.4rem Poppins;
  line-height: 2.4rem;
  color: var(--color-title-in-primary);
  margin-top: 1.6rem;
  opacity: 0.8;
}

.page-reister__content-header {
  padding: 0 3.2rem 8rem 3.2rem;
}

.page-register-main main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 6.4rem;
  margin-top: 3.2rem;
}

::placeholder {
  color: var(--color-text-complement);
  font-size: 2rem;
}

.page-register-main main > div {
  text-align: left;
  font: 600 1.25rem Poppins;
  margin-left: -14rem;
}

.page-register-main main > div h1 {
  color: var(--color-text-title);
}

.page-register-main__form-title {
  color: var(--color-primary);
  font: 600 2.4rem Poppins;
  justify-content: start;
  line-height: 2.6rem;
  margin-bottom: 1.6rem;
  padding-left: 3.2rem;
  width: 100%;
}

.page-register-main main fieldset {
  border: none;
  width: 80%;
}

.page-register-main main button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5.6rem;
  border-radius: 0.8rem;
  background: var(--color-primary);
  margin-top: 3.6rem;
  font: 600 1.8rem Archivo;
  line-height: 2.8rem;
  color: var(--color-title-in-primary);
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
}

.page-register-main main button:hover {
  background: var(--color-primary-light);
}

@media (min-width: 1100px) {
  #page-register {
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: row-reverse;
  }
  .page-register-main {
    width: 100%;
  }

  #page-register .page-header {
    background: linear-gradient(
      180deg,
      var(--color-background-secondary) 0%,
      var(--color-primary) 100%
    );
    height: 100%;
  }

  .page-reister__content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }
  .page-register__content-header-title {
    color: var(--color-title-in-primary);
    opacity: 0.8;
  }

  #page-register .page-header .top-bar-container {
    position: absolute;
    left: 1rem;
  }

  .page-register__content-header-description {
    color: var(--color-title-in-primary);
    opacity: 0.8;
  }
}
